
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper-task-first {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.item {
  background: #f6f6fe;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px; /* Adds space between items */
}

.item h2 {
  margin: 0;
  padding: 0 0 16px 0;
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.96px;
}

.item ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item li {
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  background-color: #ffffff; /* White background for list items */
}

.wrapper-task-third {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: #FFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.gallery li {
  flex-basis: calc(100% / 3 - 16px);
  height: auto;
}

.gallery li img {
  width: 100%;
  height: auto;
}